<header class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="
    background-color: #00334D !important;">
    <div class="collapse navbar-collapse">
      <div class="container">
        <div class="row">
          <div class="col-2 collapse navbar-collapse">
            <h6 class="text-light mt-2 ">PORTFOLIO</h6>
          </div>
          <div class="col-8 collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" style="color:white" [routerLink]="['/about']">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color:white" [routerLink]="['/experience']">WORK EXPERIENCE</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" style="color:white" [routerLink]="['/skills']">SKILLS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" style="color:white" [routerLink]="['/education']">EDUCATION</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" style="color:white" [routerLink]="['/contact']">CONTACT</a>
              </li>
              
            </ul>
          </div>
        </div>
      <!-- <form action="">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form> -->
      </div>
     
    </div>
  </nav>
</header> 